.item {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 3px;
}
.item_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: Montserrat;
  margin-bottom: 30px;

  .item_content {
    border-radius: 5px;
    background-color: #ff6060;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1 {
      margin-left: 15px;
      color: #fff;

      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 142.6%; /* 34.224px */
    }
    // .button_arrow {
    //   display: flex;
    //   height: 66px;
    //   justify-content: center;
    //   padding: 0;
    //   background-color: #ff6060;
    //   border-radius: 25px;
    //   width: 50px;
    //   .arrow {
    //     border: 2px solid green;
    //   }
    // }
    .arrow_div {
     

      width: 25px;
      height: 15px;
      margin-right: 20px;
      transform: rotate(180deg);
      .arrow {
        position: relative;
      }
    }
    .arrow-rotate {
      transform: rotate(0deg);
      transition: transform 0.3s ease; /* Ajoutez une transition pour une animation plus fluide */
      
    }
    .arrow-reverse {
      transform: rotate(180deg);
      transition: transform 0.3s ease; /* Ajoutez une transition pour une animation plus fluide */
    }
    
  }
  .item_text {
    padding: 20px;
    background-color: #f6f6f6;
    color: #ff6060;
  }
}
